.vscode/*
*.pyc
*.db
*~
*.egg-info
main.spec
.idea/*
.vagrant
html/
htmlcov/
coverage/
build/
dist/
*.egg-info/
*.log
MANIFEST

bin/
include/
lib/
local/

!.gitignore
!.travis.yml
Vagrantfile.back
Vagrantfile
config.yml
venv